/*
/*Google web font family*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800");
/* Main navigation */
@import url("../css/menu.css");
#menu.fake_menu {
  display: none !important;
  visibility: hidden !important;
}

/*-------- Preloader --------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 99999999999 !important;
}

[data-loader="circle-side"] {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: circle infinite .95s linear;
  -moz-animation: circle infinite .95s linear;
  -o-animation: circle infinite .95s linear;
  animation: circle infinite .95s linear;
  border: 2px solid #662d91;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*-------- 1.1 Typography --------*/
/* rem reference
10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
30px = 1.875rem
32px = 2rem
*/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f8f8f8;
  font-size: 0.875rem;
  line-height: 1.6;
  font-family: "Poppins", Helvetica, sans-serif;
  color: #555;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

p {
  margin-bottom: 30px;
}

strong {
  font-weight: 600;
}

hr {
  margin: 30px 0 30px 0;
  border-color: #ededed;
}

ul, ol {
  list-style: none;
  margin: 0 0 25px 0;
  padding: 0;
}

.main_title {
  text-align: center;
  margin-bottom: 45px;
  position: relative;
}

.main_title span {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: auto;
  margin-bottom: 20px;
  opacity: 1;
  background-color: #999;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.main_title.animated span {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.main_title_2 {
  text-align: center;
  margin-bottom: 45px;
  position: relative;
}
.main_title_2 span {
  width: 120px;
  height: 2px;
  background-color: #e1e1e1;
  display: block;
  margin: auto;
}
.main_title_2 span em {
  width: 60px;
  height: 2px;
  background-color: #662d91;
  display: block;
  margin: auto;
}
@media (max-width: 767px) {
  .main_title_2 {
    margin-bottom: 10px;
  }
}
.main_title_2 h2 {
  margin: 25px 0 10px 0;
}
@media (max-width: 767px) {
  .main_title_2 h2 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}
.main_title_2 p {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .main_title_2 p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

/** Layes slider typography ab buttons **/
h3.slide_typo {
  white-space: nowrap;
  color: #fff !important;
  font-weight: normal;
  font-size: 60px;
  font-size: 3.75rem;
}

.slide_typo_2 {
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  white-space: nowrap;
  text-transform: uppercase;
}

/*General links color*/
a {
  color: #3f9fff;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}
a:hover, a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

/*-------- 1.2 Buttons --------*/
a.btn_1,
.btn_1 {
  border: none;
  color: #fff;
  background: #3f9fff;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
a.btn_1:hover,
.btn_1:hover {
  background: #0054a6;
  color: #fff;
}
a.btn_1.full-width,
.btn_1.full-width {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
a.btn_1.medium,
.btn_1.medium {
  font-size: 16px;
  font-size: 1rem;
  padding: 18px 40px;
}
a.btn_1.rounded,
.btn_1.rounded {
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  border-radius: 25px !important;
}
a.btn_1.outline,
.btn_1.outline {
  border: 2px solid #3f9fff;
  color: #3f9fff;
  padding: 11px 40px;
  background: none;
}
a.btn_1.outline:hover,
.btn_1.outline:hover {
  background: #0054a6;
  color: #fff;
  border-color: #0054a6;
}

a.btn_explore {
  background: #fff;
  display: block;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  line-height: 65px;
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -30px;
  font-size: 24px;
  font-size: 1.5rem;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.btn_explore:hover {
  bottom: 30px;
}

.closebt {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  font-size: 24px;
  font-size: 1.5rem;
  top: 10px;
  right: 15px;
  color: #fff;
  opacity: 0.6;
  width: 30px;
  height: 30px;
}
.closebt:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 1;
}

.btn_home_align {
  text-align: right;
}
@media (max-width: 767px) {
  .btn_home_align {
    text-align: center;
  }
}

/*Button plus-minus */
.button_plus {
  position: relative;
  width: 30px;
  height: 30px;
  /* Vertical line */
  /* horizontal line */
}
.button_plus:before, .button_plus:after {
  content: "";
  position: absolute;
  background-color: white;
  transition: transform 0.25s ease-out;
}
.button_plus:before {
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  margin-left: -2px;
}
.button_plus:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: -2px;
}
.button_plus:hover {
  cursor: pointer;
}
.button_plus:hover:before {
  transform: rotate(90deg);
}
.button_plus:hover:after {
  transform: rotate(180deg);
}

/*-------- 1.3 Structure --------*/
/* Header */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 30px;
  z-index: 99999;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  background:#ffffff;
}
@media screen and (max-width:1024px) {
  header {
    padding: 15px 10px;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding: 15px 15px 5px 15px;
  }
}
header.header.sticky {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  padding: 15px 20px;
  box-shadow: 3px 4px 5px #b3b3b3;
}
@media (max-width: 991px) {
  header.header.sticky {
    padding: 15px 15px 5px 15px;
  }
}
header.header.sticky_menu_active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 991px) {
  header.header.sticky_menu_active {
    padding: 15px 15px 0 15px;
    background: #480048;
    background: -webkit-linear-gradient(left, #480048, #C04848);
    background: linear-gradient(to right, #480048, #C04848);
  }
}

ul#top_menu {
  float: right;
  margin: 0 0 0 0;
  font-size: 13px;
  font-size: 0.8125rem;
}
ul#top_menu li {
  display: inline-block;
  margin: 2px 0 0 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1;
  margin-right: 20px;
}
ul#top_menu li:last-child {
  margin-right: 0;
  position: relative;
  top: 0;
}
@media (max-width: 991px) {
  ul#top_menu li {
    margin: 5px 0 0 10px;
  }
}
ul#top_menu li a {
  color: #5e5d5d;
}
ul#top_menu li a:hover {
  color: #fff;
  opacity: 0.7;
}
ul#top_menu li a.login, ul#top_menu li a.cart, ul#top_menu li a.search-overlay-menu-btn {
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  position: relative;
  top: -5px;
}
ul#top_menu li a.login:before, ul#top_menu li a.cart:before, ul#top_menu li a.search-overlay-menu-btn:before {
  font-family: 'ElegantIcons';
  font-size: 24px;
  font-size: 1.5rem;
  color: #5e5d5d;
  text-indent: 0;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: normal;
  line-height: 1;
}
ul#top_menu li a.login:before {
  content: "\7e";
}
ul#top_menu li a.cart:before {
  content:"\e015";
}
ul#top_menu li a.search-overlay-menu-btn:before {
  content: "\55";
}
ul#top_menu li a.btn_1 {
  background-color:#3f9fff;
  color: #ffffff;
  padding: 13px 30px;
}
ul#top_menu li a.btn_1:hover {
  background-color: #0054a6;
  color: #ffffff;
  opacity: 1;
}

#logo {
  float: left;
}
@media (max-width: 991px) {
  #logo {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  #logo img {
    width: auto;
    height: 30px;
    margin-top: 10px;
  }
}

#hero_in {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
@media (max-width: 767px) {
  #hero_in {
    height: 350px;
  }
}
#hero_in.general {
  border-bottom: 5px solid #FFC107;
}
#hero_in.general:before {
  background: url(../img/bg_courses.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#hero_in.general .wrapper {
  background-color: #372675;
  background-color: rgba(57, 39, 121, 0.8);
}
#hero_in.courses:before {
  background: url(../img/bg_courses.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#hero_in.courses .wrapper {
  background-color: #006ee6;
  background-color: rgba(57, 39, 121, 0.8);
}
#hero_in.contacts:before {
  background: url(http://via.placeholder.com/1600x1067/ccc/fff/bg_contacts.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#hero_in.contacts .wrapper {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}
#hero_in:before {
  animation: pop-in 5s 0.3s cubic-bezier(0, 0.5, 0, 1) forwards;
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
#hero_in .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
#hero_in .wrapper h1 {
  color: #fff;
  font-size: 42px;
  font-size: 2.625rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
}
@media (max-width: 767px) {
  #hero_in .wrapper h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}
#hero_in .wrapper h1 span {
  width: 80px;
  height: 4px;
  margin: auto;
  background-color: #FFC107;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  opacity: 1;
}
#hero_in .wrapper p {
  font-weight: 300;
  margin-bottom: 0;
  font-size: 24px;
  font-size: 1.5rem;
}
#hero_in .wrapper p strong {
  font-weight: 600;
}

/* Animations */
@keyframes pop-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/* Delays */
#logo {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
}

ul#top_menu {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

#hero_in h1 {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
}

#hero_in p {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
}

#hero_in a.btn_explore {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}

/* Main */
main {
  background-color: #f8f8f8;
  position: relative;
  z-index: 1;
}

/* Footer */
footer {
  background-color: #121921;
  color: #fbfbfb;
  color: rgba(255, 255, 255, 0.7);
}
footer h5 {
  color: #fff;
  margin: 25px 0;
}
@media (max-width: 575px) {
  footer h5 {
    margin: 25px 0 10px 0;
  }
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  color: #fff;
  opacity: 0.7;
  text-transform: uppercase;
}
footer ul li a:hover {
  color: #3f9fff;
  opacity: 1;
}
footer ul li a i {
  margin-right: 10px;
  color: #fff;
}
footer ul.links li a:hover {
  -webkit-transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  transform: translate(5px, 0);
}
footer ul.links li a:hover:after {
  opacity: 1;
  color: #3f9fff;
}
footer ul.links li a:after {
  font-family: 'ElegantIcons';
  content: "\24";
  position: absolute;
  margin-left: 5px;
  top: 1px;
  opacity: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
footer ul.contacts li a i {
  margin-right: 10px;
}
footer hr {
  opacity: 0.1;
}
footer #copy {
  text-align: right;
  font-size: 13px;
  font-size: 0.8125rem;
  opacity: 0.7;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  footer #copy {
    text-align: left;
    margin: 5px 0 20px 0;
  }
}
footer.fake-footer {
  display: none;
  visibility: hidden;
}

/* Newsletter footer (updated v.1.2) */
#newsletter .form-group {
  position: relative;
}
#newsletter .loader {
  position: absolute;
  right: -20px;
  top: 11px;
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
}
#newsletter h6 {
  color: #fff;
  margin: 15px 0 15px 0;
  line-height:1.5;
}
#newsletter .form-group {
  position: relative;
}
#newsletter input[type='email'] {
  border: 0;
  height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding-left: 15px;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #1b2632;
  color: #fff;
}
#newsletter input[type='submit'] {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 600;
  top: 0;
  border: 0;
  padding: 0 12px;
  height: 40px;
  cursor: pointer;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #92278f;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}
#newsletter input[type='submit']:hover {
  background-color: #392779;
}

.follow_us {
  margin-top: 15px;
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}
.follow_us h5 {
  color: #fff;
}
.follow_us ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  font-size: 1.25rem;
}
.follow_us ul li:first-child {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 13px;
  font-size: 0.8125rem;
}
.follow_us ul li a {
  color: #fff;
  opacity: 0.7;
}
.follow_us ul li a:hover {
  opacity: 1;
}

/* Addtional links Footer */
ul#additional_links {
  margin: 0;
  color: #555;
  font-size: 13px;
  font-size: 0.8125rem;
}
ul#additional_links li {
  display: inline-block;
  margin-right: 15px;
}
ul#additional_links li strong{
  text-transform: uppercase;
  color:#ffffff;
  margin-right:10px;
}
ul#additional_links li a {
  color: #fff;
  opacity: 0.5;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
ul#additional_links li a:after{
  content: "|";
  font-weight: 300;
  margin:0 5px;
}
ul#additional_links li a:last-child:after{
content:none;
}

ul#additional_links li a:hover {
  opacity: 1;
}

/* Wow on scroll event */
.wow {
  visibility: hidden;
}

/*============================================================================================*/
/* 2.  CONTENT */
/*============================================================================================*/
/*-------- 2.1 Home/front page--------*/
a#moveDown {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  font-size: 32px;
  font-size: 2rem;
  color: #fff;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

/* Home video background*/
.header-video {
  position: relative;
  overflow: hidden;
  background: #000;
}
@media (max-width: 991px) {
  .header-video {
    height: 450px !important;
  }
}

#hero_video {
  position: relative;
  background-size: cover;
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  display: table;
  height: 100%;
  z-index: 99;
  text-align: center;
}
#hero_video div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 10%;
}
#hero_video div h3 {
  color: #fff;
  font-size: 52px;
  font-size: 3.25rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
}
@media (max-width: 767px) {
  #hero_video div h3 {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}
@media (max-width: 575px) {
  #hero_video div h3 {
    font-size: 23px;
    font-size: 1.4375rem;
  }
}
#hero_video div p {
  font-weight: 300;
  margin: 10px 0 0 0;
  padding: 0 20%;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
}
#hero_video div p strong {
  font-weight: 600;
}
@media (max-width: 767px) {
  #hero_video div p {
    padding: 0;
    font-size: 18px;
    font-size: 1.125rem;
  }
}

video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
}

iframe {
  height: 100%;
  width: 100%;
}

video {
  width: 100%;
}

.teaser-video {
  width: 100%;
  height: auto;
}

.header-video--media {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  #hero_video {
    background: #662d91 url(http://via.placeholder.com/1600x1067/ccc/fff/bg_home_fallback_video.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #hero_video div {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .header-video {
    background: none;
  }
}
/* Home single hero */
.hero_single {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0;
  color: #fff;
}
@media (max-width: 767px) {
  .hero_single {
    height: 450px;
  }
}
.hero_single:before {
  background: url(http://via.placeholder.com/1600x1067/ccc/fff/home_section_2.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero_single .wrapper {
  /*background-color: #632c8d;*/
  /*background-color: rgba(102, 45, 145, 0.8);*/
}
.hero_single.start_bg_zoom:before {
  animation: pop-in 5s 0.3s cubic-bezier(0, 0.5, 0, 1) forwards;
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.hero_single .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.hero_single .wrapper .bannertext .callto_action{
display: -webkit-flex;
display: -ms-flex;
display: flex;
-ms-align-items:center;
align-items:center;
justify-content: center;
margin-top:20px;
}
.hero_single .wrapper .bannertext .callto_action button{
  margin: 0 10px;
  display:flex;
  align-items:center;
  line-height:normal;
}
.hero_single .wrapper .bannertext .callto_action button i{
  margin-left:5px;
}

.hero_single .wrapper .bannertext{
  position: absolute;
  left: 0;
  right: 0;
  bottom:0;
  padding: 30px 0;
  background-color:rgba(255, 255, 255, 0.75);
  width:60%;
  margin:0 auto;
}
@media screen and (max-width:1366px){
  .hero_single .wrapper .bannertext{
    padding:20px 0;
  }
}
@media screen and (max-width:768px){
  .hero_single .wrapper .bannertext{
    width:100%;
  }
}
.hero_single .wrapper h3 {
  color: #000000;
  font-size: 52px;
  font-size: 3.25rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}


@media (max-width: 767px) {
  .hero_single .wrapper h3 {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}
@media (max-width: 575px) {
  .hero_single .wrapper h3 {
    font-size: 23px;
    font-size: 1.4375rem;
  }
}
.hero_single .wrapper p {
  font-weight: 300;
  margin: 10px 0 0 0;
  padding: 0 20%;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
}
.hero_single .wrapper p strong {
  font-weight: 600;
}
@media (max-width: 767px) {
  .hero_single .wrapper p {
    padding: 0;
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.hero_single.short {
  height: 600px;
}
.hero_single.home2 {
  height:100vh;
}
@media (max-width: 767px) {
  .hero_single.home2 {
    height: 450px;
  }
}
.hero_single.home2:before {
  background: url(../img/slides/banner01.jpg) center -250px no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (max-width:1440px){
  .hero_single.home2:before{
    background-position: center -180px;
  }
}
.hero_single.home2:before {

}
.hero_single.home2 .wrapper {
  /*background-color: #372675;*/
  /*background-color: rgba(57, 39, 121, 0.8);*/
}
.hero_single.home2 .wrapper h3 {
  font-size:30px;
  font-size: 1.875rem;
  text-transform:inherit;
}
@media (max-width: 767px) {
  .hero_single.home2 .wrapper h3 {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}
@media (max-width: 575px) {
  .hero_single.home2 .wrapper h3 {
    font-size: 23px;
    font-size: 1.4375rem;
  }
}
.hero_single.home2 .wrapper p {
  margin:10px 0;
  color:#5e5e5e;
  padding: 0;
  font-size:30px;
  font-weight:bold;
  font-size:1.875rem;
  text-transform: uppercase;
}
.hero_single.home2 .wrapper p strong {
  font-weight: 600;
}
@media (max-width: 767px) {
  .hero_single.home2 .wrapper p {
    padding: 0;
    font-size: 16px;
    font-size: 1rem;
  }
}

#custom-search-input {
  padding: 0;
  width: 600px;
  margin: 20px auto 0;
  position: relative;
}
@media (max-width: 991px) {
  #custom-search-input {
    width: auto;
  }
}
#custom-search-input .search-query {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  font-size: 1rem;
  color: #333;
}
#custom-search-input .search-query:focus {
  outline: none;
}
@media (max-width: 575px) {
  #custom-search-input .search-query {
    padding-left: 15px;
  }
}
#custom-search-input input[type='submit'] {
  position: absolute;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  right: -1px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  top: 0;
  border: 0;
  padding: 0 25px;
  height: 50px;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #92278f;
}
#custom-search-input input[type='submit']:hover {
  background-color: #FFC107;
}
@media (max-width: 575px) {
  #custom-search-input input[type='submit'] {
    text-indent: -999px;
    background: #92278f url(../img/search.svg) no-repeat center center;
  }
}

.features {
  background-color: #f2f2f2;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}
.features h3 {
  color:#000000;
  font-size:1.875rem;
  margin-bottom: 30px;
}
.features ul {
  margin: 0;
  padding: 0;
}
.features ul li {
  float: left;
  width: 33.33%;
  position: relative;
}
.features ul li .step-img {
margin-bottom:30px;
}

.features ul li .step-img img{
width:100%;
max-width:290px;
}
.features ul li span {
  color:#191919;
  font-size:15px;
}
.features ul li span span{
display: block;
}
.features ul li h4 {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
  color: #000000;
  margin-bottom:15px;
  text-transform: uppercase;
}
.features ul li i {
  color: #35aec9;
  font-size: 46px;
  font-size: 2.875rem;
  margin-bottom: 20px;
  display: block;
}
@media (max-width: 767px) {
  .features ul li {
    width: 100%;
    float: none;
    margin-bottom: 35px;
  }
  .features ul li:last-child {
    margin-bottom: 5px;
  }
}

ul#grid_home {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
ul#grid_home li {
  position: relative;
  width: 33.33%;
  float: left;
}
@media (max-width: 767px) {
  ul#grid_home li {
    width: 100%;
    float: none;
  }
}
ul#grid_home li:nth-child(1) .short_info {
  background-color: #372675;
  background-color: rgba(57, 39, 121, 0.8);
}
ul#grid_home li:nth-child(2) .short_info {
  background-color: #8e268b;
  background-color: rgba(146, 39, 143, 0.8);
}
ul#grid_home li:nth-child(3) .short_info {
  background-color: #392779;
  background-color: #392779;
}
ul#grid_home li a.img_container {
  position: relative;
  overflow: hidden;
  z-index: 0;
  display: block;
  width: 100%;
  height: 280px;
}
@media (max-width: 767px) {
  ul#grid_home li a.img_container {
    width: 100%;
    float: none;
    height: 250px;
  }
}
ul#grid_home li a.img_container img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
@media (max-width: 1199px) {
  ul#grid_home li a.img_container img {
    height: 100%;
    width: auto;
    max-width: inherit;
  }
}
@media (max-width: 767px) {
  ul#grid_home li a.img_container img {
    width: 100%;
    height: auto;
  }
}
ul#grid_home li a.img_container:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  -moz-transform: translate(-50%, -50%) scale(1.1);
  -ms-transform: translate(-50%, -50%) scale(1.1);
  -o-transform: translate(-50%, -50%) scale(1.1);
  transform: translate(-50%, -50%) scale(1.1);
}
ul#grid_home li a.img_container .short_info {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  padding: 0 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
}
ul#grid_home li a.img_container .short_info h3 {
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: 400;
}
ul#grid_home li a.img_container .short_info h3 strong {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-size: 28px;
  font-size: 1.75rem;
}
@media (max-width: 767px) {
  ul#grid_home li a.img_container .short_info h3 {
    margin-top: -20px;
  }
}
ul#grid_home li a.img_container .short_info div {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  transform: translateY(-25px);
  text-align: center;
  width: 100%;
  visibility: hidden;
  display: table;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
ul#grid_home li a.img_container .short_info div .btn_1 {
  padding: 10px 22px;
  font-size: 13px;
  font-size: 0.8125rem;
}
@media (max-width: 767px) {
  ul#grid_home li a.img_container .short_info div {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
ul#grid_home li a.img_container .short_info:hover div {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
}
ul#grid_home li:last-child .img_container:hover .short_info .btn_1 {
  background-color: #FFC107;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
ul#grid_home li:last-child .img_container:hover .short_info .btn_1:hover {
  background-color: #3f9fff;
}

/*Carousel home page*/
#reccomended {
  margin-top: 40px;
}
@media (max-width: 767px) {
  #reccomended {
    margin-top: 0;
  }
}
#reccomended .item {
  margin: 0 15px;
}

#reccomended .owl-item {
  opacity: 0.5;
  transform: scale(0.85);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(0.85, 0.85);
  transition: all 0.3s ease-in-out 0s;
  overflow: hidden;
}

#reccomended .owl-item.active.center {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: scale(1);
}

#reccomended .owl-item.active.